/* Style log area */
#import_speeddialgeneral textarea {
	height: 25em;
	overflow-y: auto;
}

#import_speeddialgeneral div.dropback {
	border: 1px solid gray;
	height: 25em;
	overflow: auto;
	padding: 2px;
	resize: both;
}

/* make log header big, bold and very red on warning/failure */
#import_speeddialgeneral span.log_header.warning_log_header,
#import_speeddialgeneral span.log_header.failed_log_header {
	font-size: medium;
	font-weight: bold;
	color: red;
}

/* make log header green on success */
#import_speeddialgeneral span.log_header.success_log_header {
	font-size: medium;
	font-weight: bold;
	color: green;
}

/* color log messages */
#import_speeddialgeneral mark {
	font-weight: bold;
}

#import_speeddialgeneral mark.error {
	color: red;
}

#import_speeddialgeneral mark.warning {
	color: rgb(255, 134, 0);
}

#import_speeddialgeneral mark.info {
	color: blue;
}
