# build outputs
dist/
build/
.out/
.next/
.turbo/
coverage/

# logs
logs/
*.log

# env
.env
.env.*
!/apps/**/.env.example
!/packages/**/.env.example

# docker
node_modules/
**/node_modules/

# prisma artifacts (keep migrations)
prisma/dev.db
