/* Hide dialogs */
div.intern_settings,
div.internal_settings,
div.extern_other_auth,
div.external_settings,
div.extern_other_settings {
	display: none;
}

/* Unhide selected dialogs */
div.intern_settings.email_display,
div.internal_settings.email_display,
div.extern_other_auth.email_display,
div.external_settings.email_display,
div.extern_other_settings.email_display {
	display: block;
}

/* Add some margins on maillog refresh button */
button.maillog_refresh {
	margin-bottom: 5px;
	margin-left: 5px;
}
