##account.X.* ranges : (FIP10[P]/FIP12WP/FIP16: X ranges from 1 to 2. FIP11C[P]: X ranges from 1 to 3. FIP13G: X ranges from 1 to 4. FIP14G: X ranges from 1 to 8. FIP15G: X ranges from 1 to 10.)##
##################################################################################
##                         Account 1 Register                                   ##
##################################################################################
#Enable or disable the account1, 0-Disabled (default), 1-Enabled;
account.1.enable={{ isset($accounts[0]['secret']) ? 1 : 0 }}

#Configure the label displayed on the LCD screen for account1.
account.1.label={{ $accounts[0]['description'] ?? null }}

#Configure the display name of account1.
account.1.display_name={{ $accounts[0]['description'] ?? null }}

#Configure the username and password for register authentication.
account.1.auth_name={{ $accounts[0]['device_name'] ?? null }}
account.1.password=REDACTED

#Configure the register user name.
account.1.user_name={{ $accounts[0]['device_name'] ?? null }}

#Configure the SIP server address.
account.1.sip_server_host={{ $accounts[0]['sip_domain'] ?? null }}

#Specify the port for the SIP server. The default value is 5060.
account.1.sip_server_port={{ $accounts[0]['sip_port'] ?? 5060 }}

#Configure the transport type; 0-UDP (default), 1-TCP, 2-TLS, 3-DNS SRV;
account.1.transport={{ $accounts[0]['protocol'] ?? 0 }}

#Specify the IP address or domain name of the outbound proxy server.
account.1.outbound_host={{ $accounts[0]['sip_proxy'] ?? null }}

#Specify the server port, the default value is 5060.
account.1.outbound_port={{ $accounts[0]['sip_proxy_port'] ?? 5060 }}

#Configure the address of the backup outbound proxy server.
account.1.backup_outbound_host=

#Specify the port, the default value is 5060.
account.1.backup_outbound_port=

#Configure the register expiry time (in seconds), the default value is 3600.
account.1.expires=

##################################################################################
##                         Voice Mail                                   		##
##################################################################################
#Configure the voice mail number of account1.
voice_mail.number.1=

#Enable or disable the phone to subscribe the message waiting indicator; 0-Disabled (default), 1-Enabled;
account.1.subscribe_mwi=

#Configure MWI subscribe expiry time (in seconds). It ranges from 0 to 84600, the default value is 3600.
account.1.subscribe_mwi_expires=

##################################################################################
##                         Account Advanced	                                    ##
##################################################################################
#Enable or disable the phone to only accept the message from the server; 0-Disabled (default), 1-Enabled;
account.1.sip_trust_ctrl=

#Enable or disable the 100 reliable retransmission; 0-Disabled (default), 1-Enabled;
account.1.100rel_enable=

#Enable or disable the phone to subscribe the register status; 0-Disabled (default), 1-Enabled;
account.1.subscribe_register=

#Configure the type of SIP header(s) to carry the caller ID; 0-FROM (default), 1-PAI 2-PAI-FROM, 3-PRID-PAI-FROM, 4-PAI-RPID-FROM, 5-RPID-FROM;
account.1.cid_source=

#Configure the refresh session timer interval (in seconds). It ranges from 0(disable) to 9999.
account.1.session_timer.expires=

#Configure the session timer refresher; 0-Uac (default), 1-Uas;
account.1.session_timer.refresher=

#Enable or disable the "user=phone"; 0-Disabled(default), 1-Enable;
account.1.enable_user_equal_phone=

#Specify whether to encrypt the SIP messages; 0-Disabled (default), 1-Enable;
account.1.srtp_encryption=

#Configure the RTP packet time. The valid values are 0 (Disabled), 10, 20 (default), 30, 40, 50, 60.
account.1.ptime=

#Assign account1 as shared line; 0-Disabled (default), 1-Broadsoft SCA;
account.1.shared_line=

#Enable or disable the auto answer feature; 0-Disabled (default), 1-Enabled;
account.1.auto_answer=

#Enable or disable the phone to record the missed call; 0-Disabled, 1-Enabled (default);
account.1.missed_calllog=

#Enable or disable the phone to send the MAC address and line number in the Register message; 0-Disabled (default), 1-Enabled;
account.1.register_mac=
account.1.register_line=

#Configure the BLF list URI (a SIP URI, or use part of the SIP URI). For example, "2300_blflist@domain.com" or "2300_blflist".
account.1.blf.blf_list_uri=

#Configure the pickup code of BLF List.
account.1.blf_list_code=

#Configure the DTMF type; 0-INBAND, 1-RFC2833 (default), 2-SIP INFO, 3-AUTO+SIP INFO;
account.1.dtmf.type=

#Configure the RFC2833 payload. It ranges from 96 to 255, the default value is 101.
account.1.dtmf.dtmf_payload=

#Configure the DTMF info type when using the SIP INFO; 0-Disabled (default), 1-DTMF-Relay, 2-DTMF, 3-Telephone-Event;
account.1.dtmf.info_type=

#Enable or disable the phone to send the account log-off message first and then send account register message when rebooting the phone; 0-Disabled (default), 1-Enabled;
account.1.unregister_on_reboot=

account.1.alert_info=

#################################################################################
##                         Codec                                          	   ##
#################################################################################
account.1.codec.pcmu.priority=
account.1.codec.pcma.priority=
account.1.codec.g729.priority=
account.1.codec.g722.priority=
account.1.codec.opus.priority=
account.1.codec.ilbc_15_2kbps.priority=
account.1.codec.g723_53.priority=
account.1.codec.g723_63.priority=
account.1.codec.g726_32.priority=

##################################################################################
##                         account 2 Register                                   ##
##################################################################################
#Enable or disable the account2, 0-Disabled (default), 1-Enabled;
account.2.enable={{ isset($accounts[1]['secret']) ? 1 : 0 }}

#Configure the label displayed on the LCD screen for account2.
account.2.label={{ $accounts[1]['description'] ?? null }}

#Configure the display name of account2.
account.2.display_name={{ $accounts[1]['description'] ?? null }}

#Configure the username and password for register authentication.
account.2.auth_name={{ $accounts[1]['device_name'] ?? null }}
account.2.password=REDACTED

#Configure the register user name.
account.2.user_name={{ $accounts[1]['device_name'] ?? null }}

#Configure the SIP server address.
account.2.sip_server_host={{ $accounts[1]['sip_domain'] ?? null }}

#Specify the port for the SIP server. The default value is 5060.
account.2.sip_server_port={{ $accounts[1]['sip_port'] ?? 5060 }}

#Configure the transport type; 0-UDP (default), 1-TCP, 2-TLS, 3-DNS SRV;
account.2.transport={{ $accounts[1]['protocol'] ?? 0 }}

#Specify the IP address or domain name of the outbound proxy server.
account.2.outbound_host={{ $accounts[1]['sip_proxy'] ?? null }}

#Specify the server port, the default value is 5060.
account.2.outbound_port={{ $accounts[1]['sip_proxy_port'] ?? 5060 }}

#Configure the address of the backup outbound proxy server.
account.2.backup_outbound_host=

#Specify the port, the default value is 5060.
account.2.backup_outbound_port=

#Configure the register expiry time (in seconds), the default value is 3600.
account.2.expires=

##################################################################################
##                         Voice Mail                                   		##
##################################################################################
#Configure the voice mail number of account2.
voice_mail.number.2=

#Enable or disable the phone to subscribe the message waiting indicator; 0-Disabled (default), 1-Enabled;
account.2.subscribe_mwi=

#Configure MWI subscribe expiry time (in seconds). It ranges from 0 to 84600, the default value is 3600.
account.2.subscribe_mwi_expires=

##################################################################################
##                         Account Advanced	                                    ##
##################################################################################
#Enable or disable the phone to only accept the message from the server; 0-Disabled (default), 1-Enabled;
account.2.sip_trust_ctrl=

#Enable or disable the 100 reliable retransmission; 0-Disabled (default), 1-Enabled;
account.2.100rel_enable=

#Enable or disable the phone to subscribe the register status; 0-Disabled (default), 1-Enabled;
account.2.subscribe_register=

#Configure the type of SIP header(s) to carry the caller ID; 0-FROM (default), 1-PAI 2-PAI-FROM, 3-PRID-PAI-FROM, 4-PAI-RPID-FROM, 5-RPID-FROM;
account.2.cid_source=

#Configure the refresh session timer interval (in seconds). It ranges from 0(disable) to 9999.
account.2.session_timer.expires=

#Configure the session timer refresher; 0-Uac (default), 1-Uas;
account.2.session_timer.refresher=

#Enable or disable the "user=phone"; 0-Disabled(default), 1-Enable;
account.2.enable_user_equal_phone=

#Specify whether to encrypt the SIP messages; 0-Disabled (default), 1-Enable;
account.2.srtp_encryption=

#Configure the RTP packet time. The valid values are 0 (Disabled), 10, 20 (default), 30, 40, 50, 60.
account.2.ptime=

#Assign account2 as shared line; 0-Disabled (default), 1-Broadsoft SCA;
account.2.shared_line=

#Enable or disable the auto answer feature; 0-Disabled (default), 1-Enabled;
account.2.auto_answer=

#Enable or disable the phone to record the missed call; 0-Disabled, 1-Enabled (default);
account.2.missed_calllog=

#Enable or disable the phone to send the MAC address and line number in the Register message; 0-Disabled (default), 1-Enabled;
account.2.register_mac=
account.2.register_line=

#Configure the BLF list URI (a SIP URI, or use part of the SIP URI). For example, "2300_blflist@domain.com" or "2300_blflist".
account.2.blf.blf_list_uri=

#Configure the pickup code of BLF List.
account.2.blf_list_code=

#Configure the DTMF type; 0-INBAND, 1-RFC2833 (default), 2-SIP INFO, 3-AUTO+SIP INFO;
account.2.dtmf.type=

#Configure the RFC2833 payload. It ranges from 96 to 255, the default value is 101.
account.2.dtmf.dtmf_payload=

#Configure the DTMF info type when using the SIP INFO; 0-Disabled (default), 1-DTMF-Relay, 2-DTMF, 3-Telephone-Event;
account.2.dtmf.info_type=

#Enable or disable the phone to send the account log-off message first and then send account register message when rebooting the phone; 0-Disabled (default), 1-Enabled;
account.2.unregister_on_reboot=

account.2.alert_info=

#################################################################################
##                         Codec                                          	   ##
#################################################################################
account.2.codec.pcmu.priority=
account.2.codec.pcma.priority=
account.2.codec.g729.priority=
account.2.codec.g722.priority=
account.2.codec.opus.priority=
account.2.codec.ilbc_15_2kbps.priority=
account.2.codec.g723_53.priority=
account.2.codec.g723_63.priority=
account.2.codec.g726_32.priority=

#################################################################################
##                         Account Basic                                 	   ##
#################################################################################
call_waiting.enable=
#auto_redial.enable=

##################################################################################
##                         Auto Provision		                                ##
##################################################################################
##Basic-Basic auth, Digest-Digest auth(default)
auto_provision.server.auth_method=Basic
auto_provision.server.url={{ $settings['provisioning_path'] ?? null }}

auto_provision.server.username={{ $connectionSettings['auth_user'] ?? null }}
auto_provision.server.password=REDACTED
static.provision.resync_random_delay=0

#################################################################################
##                         Feature General                                	   ##
#################################################################################
##Define the "#" or "*" key as the send key; 0-Disabled, 1-# key(default), 2-* key;

features.pound_key.mode=

#################################################################################
##                        Programablekey                                       ##
#################################################################################
#programablekey.X.type : 0-N/A, 1-History, 2-Local Group, 3-Directory, 4-LDAP, 5-Menu, 6-DND, 8-SpeedDial, 9-Status, 12-XML Browser, 15-Paging, 16-Paging List.
#programablekey.X.line
#programablekey.X.value
#programablekey.X.label
#programablekey.X.extension


programablekey.1.type =
programablekey.1.label =
programablekey.1.value =
programablekey.1.line =
programablekey.1.extension =

#################################################################################
##                         Line Key                                            ##
#################################################################################
##linekey.X.line
##linekey.X.value
##linekey.X.extension
##linekey.X.type: 0-N/A, 5-DND, 9-Pickup(pickup/DirectPickup), 10-Call Park, 11-DTMF, 12-Voice Mail, 13-Speed Dial, 14-Intercom, 15-Line, 16-BLF, 20-Private Hold, 23-Group Pickup, 24-Paging(MulticastPaging), 25-Record, 27-XML Browser, 35-URL Record, 38-LDAP, 39-BLF List, 45-Local Group, 56-Retrieve Park, 61-Directory, 66-Paging List
##linekey.X.xml_phonebook
##linekey.X.label
##linekey.X ranges : (FIP10[P]/FIP12WP: X ranges from 1 to 2. FIP11C[P]: X ranges from 1 to 6. FIP13G: X ranges from 1 to 9. FIP14G: X ranges from 1 to 21. FIP15G: X ranges from 1 to 74.)##
## Not Support FIP16

#################################################################################
##                         Firmware Update                               	   ##
#################################################################################
firmware.url={{ $connectionSettings['firmware_path'] ?? null }}

#################################################################################
##                         PTT                                            	   ##
#################################################################################
features.intercom.ptt_mode.enable=
meta.enable=

#################################################################################
##                         Contact                                       	   ##
#################################################################################
local_contact.data.url=
local_contact.flash_time=
##Enable contact defined sorting of contacts; 0-Disabled(default), 1-Enable;
local_contact.data.phonebook_sort=

#######################################################################################
##                                 Remote Phonebook                                  ##
#######################################################################################
##remote_phonebook.data.X.url
##remote_phonebook.data.X.name
#remote_phonebook.data.X.username=
#remote_phonebook.data.X.password=REDACTED
##(X ranges from 1 to 5)
@foreach ($phonebook['remote_phonebooks'] ?? [] as $key)
    remote_phonebook.data.{{ $loop->iteration }}.url = {{ $key['url'] ?? null }}
    remote_phonebook.data.{{ $loop->iteration }}.name = {{ $key['name'] ?? null }}
@endforeach

features.remote_phonebook.enter_update_enable =
features.remote_phonebook.flash_time =
features.remote_phonebook.enable =
remote_phonebook.display_name =

directory_setting.remote_phone_book.enable =
directory_setting.remote_phone_book.priority =
search_in_dialing.remote_phone_book.enable =
search_in_dialing.remote_phone_book.priority =


remote_phonebook.data.1.username =
remote_phonebook.data.1.password =REDACTED

##################################################################################
##         	              LDAP Settings                                         ##
##################################################################################
#Configure the search criteria for name and number lookups.
ldap.name_filter=
ldap.number_filter=

ldap.enable=

ldap.host=
ldap.port=

ldap.base=
ldap.user=
ldap.password=REDACTED

#Specify the maximum of the displayed search results. It ranges from 1 to 32000, the default value is 50.
ldap.max_hits=

ldap.name_attr=
ldap.numb_attr=
ldap.display_name=

#Configure the LDAP version. The valid value is 2 or 3 (default).
ldap.version=

#Enable or disable the phone to query the contact name from the LDAP server when receiving an incoming call; 0-Disabled (default), 1-Enabled;
ldap.call_in_lookup=

#Enable or disable the phone to sort the search results in alphabetical order; 0-Disabled (default), 1-Enabled;
ldap.ldap_sort=

#Enable or disable the phone to query the LDAP server when in the pre-dialing or the dialing state; 0-Disabled (default), 1-Enabled;
ldap.dial_lookup=

#################################################################################
##                         WEB Advanced                                   	   ##
#################################################################################
##0-Disabled, 1-Enable(default).
wui.http_enable=
wui.https_enable=

##security.user_password=REDACTED
security.user_password=REDACTED

#################################################################################
##                         Language                                       	   ##
#################################################################################
##Support language: English-English, Chinese_S-Chinese Simplified, Chinese_T-Chinese Traditional, French-French, German-German, Italian-Italian, Polish-Polish, Portuguese-Portuguese, Spanish-Spanish, Turkish-Turkish, Russian-Russian, Arabic-Arabic, Hebrew-Hebrew, Czech-Czech, Dutch-Dutch.

lang.gui={{ $language ?? 'English' }}

#################################################################################
##                         Time&Date                                      	   ##
#################################################################################
##Time Zone ranges from -11 to +14.
local_time.time_zone={{ explode('|', $timezone)[0] ?? '+8' }}
local_time.ntp_server1=
local_time.ntp_server2=
local_time.summer_time=
local_time.manual_time_enable=

##Time format: 0-12 hours, 1-24 hours.
local_time.time_format={{ $timeFormat ?? 0 }}

##Date format: 0-WWW MMM DD, 1-DD-MMM-YY, 2-YYYY-MM-DD, 3-DD/MM/YYYY, 4-MM/DD/YY, 5-DD MMM YYYY, 6-WWW DD MMM.
local_time.date_format={{ $dateFormat ?? 0 }}
