node_modules/
.expo/
android/
ios/build/
ios/Pods/
ios/DerivedData/
.git/
dist/
web-build/
/*.txt
*.log
*.jks
*.keystore
connect-release.pfx
connect-release.keystore
credentials.json
*.bak.cowork
cowork_*.js
*.b64
build.out.txt
tsc.out.txt
