###################
# SIP Regisration #
###################
[sip1]
username={{ $accounts[0]['device_name'] ?? null }}
authname={{ $accounts[0]['device_name'] ?? null }}
passwd={{ $accounts[0]['secret'] ?? null }}
display={{ $accounts[0]['description'] ?? null }}

# Callidname encoding UTF-8=1, euc_kr=0
sipDisNameEncoding=1

# Primary
proxyip1={{ $accounts[0]['sip_domain'] ?? null }}
proxyport1={{ $accounts[0]['sip_port'] ?? 5060 }}
outproxyip1={{ $accounts[0]['sip_domain'] ?? null }}
outproxyport1={{ $accounts[0]['sip_port'] ?? 5060 }}
regip1={{ $accounts[0]['sip_domain'] ?? null }}
regport1={{ $accounts[0]['sip_port'] ?? 5060 }}


################
# Pickup Group #
################
pickup=**

############
# VMS Code #
############
vms=*97

##################
# Provising type #
##################
pvtype=http
pvautoconfig=1

####################
# Provising Server #
####################
pvserverip={{ $settings['provisioning_path'] ?? null }}
pvserverport=80
pvmaxtry=3
pvusername={{ $connectionSettings['auth_user'] ?? null }}
pvpasswd={{ $connectionSettings['auth_password'] ?? null }}
pvcgi=
pvfilename={{ $filename }}
pvboottime=1
pvtryinterval=1
pvpossibebegin=0
pvpossibleend=7
