#Date / Time Settings
time zone name: {{ $timezone }}
date format: {{ $timeFormat ?? 0 }}
time format: {{ $dateFormat ?? 0 }}

#Language
language 1: lang_{{ $language }}.txt
language: {{ $language == 'en' ? 0 : 1 }}

#SIP Global Settings
sip transport protocol: {{ $settings['sip_transport'] ?? '1' }}
sip proxy ip: {{ $settings['sip_proxy'] ?? '0.0.0.0' }}
sip proxy port: {{ $settings['sip_proxy_port'] ?? '5060' }}
sip registrar ip: {{ $settings['sip_domain'] ?? '0.0.0.0' }}
sip registrar port: {{ $settings['sip_port'] ?? '5060' }}

#Accounts
@foreach ($accounts as $account)
    sip line{{ $loop->iteration }} screen name: {{ $account['description'] ?? null }}
    sip line{{ $loop->iteration }} user name: {{ $account['description'] ?? null }}
    sip line{{ $loop->iteration }} phone number: {{ $account['device_name'] ?? null }}
    sip line{{ $loop->iteration }} display name: {{ $account['description'] ?? null }}
    sip line{{ $loop->iteration }} auth name: {{ $account['device_name'] ?? null }}
    sip line{{ $loop->iteration }} password: {{ $account['secret'] ?? null }}
    sip line{{ $loop->iteration }} mode: 0
    sip line{{ $loop->iteration }} registrar ip: {{ $account['sip_domain'] ?? $settings['sip_domain'] ?? '0.0.0.0' }}
    sip line{{ $loop->iteration }} registrar port: {{ $account['sip_port'] ?? $settings['sip_port'] ?? '5060' }}
    sip line{{ $loop->iteration }} proxy ip: {{ $account['sip_proxy'] ?? $settings['sip_proxy'] ?? '0.0.0.0' }}
    sip line{{ $loop->iteration }} proxy port: {{ $account['sip_proxy_port'] ?? $settings['sip_proxy_port'] ?? '5060' }}
@endforeach

#Programmable keys
@foreach ($dssKeys as $key)
    prgkey{{ $loop->iteration }} label: {{ $key['label'] ?? null }}
    prgkey{{ $loop->iteration }} line: {{ $key['line'] ?? null }}
    prgkey{{ $loop->iteration }} type: {{ $key['type'] ?? null }}
    prgkey{{ $loop->iteration }} value: {{ $key['value'] ?? null }}
@endforeach

#Firmware
firmware_server: {{ $connectionSettings['firmware_path'] ?? null }}
download protocol: HTTP

#Admin password
admin password: {{ $adminPassword }}
