###############################################
#    MAKECALL HanYangDGT Phone Provisioning   #
###############################################

####################
# Provising Server #
####################
pvserverip={{ $settings['provisioning_path'] ?? null }}
pvserverport=80
pvusername={{ $connectionSettings['auth_user'] ?? null }}
pvpasswd={{ $connectionSettings['auth_password'] ?? null }}
pvfilename={{ $filename }}

##################
# Provising type #
##################
pvtype=http
pvautoconfig=1

###################
# SIP Regisration #
###################
phone_number={{ $accounts[0]['device_name'] ?? null }}
account={{ $accounts[0]['device_name'] ?? null }}
password=REDACTED
display_name={{ $accounts[0]['description'] ?? null }}

#########################
#   sip server setting  #
#########################
sip_domain={{ $accounts[0]['sip_domain'] ?? null }}
sip_server={{ $accounts[0]['sip_domain'] ?? null }}
sip_server_port={{ $accounts[0]['sip_port'] ?? 5060 }}
sip_second_server={{ $accounts[0]['sip_domain'] ?? null }}
sip_second_server_port={{ $accounts[0]['sip_port'] ?? 5060 }}

########################
#  sms server setting  #
########################
sms_domain=hanyangdgt.test2.com
sms_server=121.168.192.253
sms_server_port=5060
sms_second_server=3.3.3.3
sms_second_server_port=5080

##################
#  NETWORK INFO  #
##################
wan_ip_mode=dhcp
ip_address=
subnet_mask=
default_gateway=
primary_dns=
secondary_dns=

#######################
# Pickup Group  & Etc #
#######################
auto_area_number=
call_pickup=**
